h3{
    text-align: center;
}

.whatwedo-container{
    width: 97%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
}

.whatdoing-container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
