.entering-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-block: 20px;
  padding-inline: 20px;
  text-align: center;
}

.entering-container p{
  font-family: 'mxedruli', sans-serif;
  font-size: 18px;
}

.entering-container button {
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.entering-container button:hover {
  background-color: #23c483;
  box-shadow: 0 6px 18px #2ee59d66;
  color: white;
  transform: translateY(-7px);
}

.code {
    background-color: lightgray;
    border-radius: 3px;
    padding: 1px 4px;
    color: #605af7;
    margin: 10px 0 !important; /* Force margin */
  }

  .challange {
    background-color: #605af7; /* Primary color */
    color: white; /* Text color */
    padding: 15px 20px; /* Adjusted padding */
    margin: 20px 0; /* Margin for spacing */
    border-radius: 10px; /* Rounded corners */
    font-family: 'mxedruli', sans-serif; /* Consistent font */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Bold text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    letter-spacing: 3px;
    text-align: center; /* Align text to the left */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
  }
  
  .challange:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  }
  

.example-list li {
  margin-bottom: 20px;
  font-family: 'mxedruli', sans-serif;
  font-size: 18px;
}

.entering-container li{
  font-family: 'mxedruli', sans-serif;
  font-size: 18px;
}

.bot-container{
  width: auto;
  position: relative;
}

.bot-image{
  width: 300px;
}

.bot-hello-txt{
  position: absolute;
  color: white;
  letter-spacing: 5px;
  right: 10px;
  top: 130px;
}

.code-inputs{
  text-align: center;
  border: 1px solid white;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  padding: 1px 4px;
  background-color: transparent;
}

.code-inputs:focus{
  outline: none;
}

.hint-icon{
  color: white;
}

.hint-icon:hover{
  cursor: pointer;
}

@media screen and (max-width: 340px) {
  .bot-image{
    width: 90%;
  }

  .bot-hello-txt{
    top: 42%;
    right: 7%;
    font-size: 4vw !important;
  }
}