.navigation-container{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
}

.icon-container{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation-icon{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #605af7;
    margin-left: 50px;
}

.navigation-list-container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    overflow: hidden;
    top: 150px;
}

.navigation-list{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    background-color: white;
    margin-inline: 20px;
    border-radius: 20px;
    z-index: 5;
}

.navigation-icon:hover{
    cursor: pointer;
}

.navigation-container::-webkit-scrollbar{
    display: none;
}

.navigation-container p{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container p:hover{
    background-color: #6964f7;
    cursor: pointer;
    color: white;
}