header{
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    transition: all 0.3s;
    background: rgba(105, 100, 247, 0.2);
    flex-direction: column;
    padding-block: 50px;
    gap: 30px;
}

nav{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    padding-inline: 20px;
    justify-content: center;
    gap: 50px;
}

nav img{
    width: 50px;
}

nav > div{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
    color: #6964f7;
    margin-left: 0;
}

nav p {
    height: 22px;
    position: relative; /* Add relative positioning */
    transition: all 0.2s; /* Increase the transition duration for smoother effect */
    cursor: pointer;
    color: #5c5776;
  }
  
  nav p::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Set the height of the border-bottom */
    bottom: 0;
    left: 0; /* Start from the left */
    background-color: rgb(17, 17, 173);
    transition: width 0.2s; /* Animate the width property */
  }
  
  nav p:hover::before {
    width: 100%; /* Animate the width to 100% */
  }
  
  /* Remove the 'border-bottom' property from 'nav p:hover' */
  

  .menu-button {
    display: none;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'georgian-font', sans-serif;
  }
  
  .menu-button:hover {
    background-color: #23c483;
    box-shadow: 0px 10px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
  }

  .navbar-dropmenu-container{
    width: 100%;
    height: 700px;
    /* background-color: red; */
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }

  .navbar-menu-dropbox{
    width: 350px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.392);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
  }

  .closebtn-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-menu-dropbox p{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navbar-menu-dropbox p:hover{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }

  .searchAndImage-container{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .content-container{
    width: 700px;
    height: auto;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #18113c;
    letter-spacing: 2px;
    flex-direction: column;
    gap: 10px;
  }

  .searchbar-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
  }
  .searchBtn{
    width: 100px;
    height: 50px;
    border: unset;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #6964f7;
    color: white;
    font-family: 'georgian-font', sans-serif;
    transition: all 0.2s ease;
  }

  .searchBtn:hover{
    background: #605af7;
  }

   .searchBar-input{
    width: 90%;
    height: 50px;
    border-radius: 0;
    border: 1px solid transparent;
    padding-inline: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'georgian-font', sans-serif;
    color: #6964f7;
   }

   .searchBar-input:focus{
    outline: none;
   }

  @media screen and (max-width: 810px) {
    nav p{
      display: none;
    }

    .menu-button{
      display: flex;
    }
  }

  @media screen and (max-width: 990px) {
    .searchAndImage-container{
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 330px){
    .searchBar-input{
      width: 50%;
    }
  }