.totalItems-container{
    width: 100%;
    height: auto;
    background: rgba(105, 100, 247, 0.2);
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 50px;
}

.total-items{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #18113c;
    gap: 15px;
    font-weight: 700;
}

.total-items img{
    padding: 10px;
    background-color: #6964f7;
    border-radius: 20px;
}