h3{
    text-align: center;
}

.whatwedo-container{
    width: 97%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    padding-block: 30px;
    padding-inline: 20px;
}

.whatdoing-container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.webimage{
    width: 600px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 1060px) {
    .whatdoing-container{
        flex-direction: column;
        text-align: center;
        text-align: justify;
    }

    .whatwedo-container{
        height: auto;
    }
}

@media screen and (max-width: 610px) {
    .webimage{
        width: 100%;
    }
}
